div.wrapper.ohnoooo
    h2
        hello
        em USERS #{arr}
          table(style='width:100%',border='1')
            tr
              th name
              th age
              th city
              th state
            tr
              td shital  
              td 30
              td pune
              td maharashtra
